In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [9]:
##pmc-gallery-vertical > div.c-gallery-vertical > div > div:nth-child(1) > article > h2

In [10]:
url = "https://playback.fm/charts/top-100-songs/2000"

In [11]:
response = requests.get(url)
response.status_code

200

In [12]:
soup = BeautifulSoup(response.content, "html.parser")

In [1]:
soup

In [15]:
iterations = range(2000, 2010, 1)

for i in iterations:
    start_at= str(i)
    url = "https://playback.fm/charts/top-100-songs/"+ start_at +""
    print(url)

https://playback.fm/charts/top-100-songs/2000
https://playback.fm/charts/top-100-songs/2001
https://playback.fm/charts/top-100-songs/2002
https://playback.fm/charts/top-100-songs/2003
https://playback.fm/charts/top-100-songs/2004
https://playback.fm/charts/top-100-songs/2005
https://playback.fm/charts/top-100-songs/2006
https://playback.fm/charts/top-100-songs/2007
https://playback.fm/charts/top-100-songs/2008
https://playback.fm/charts/top-100-songs/2009

In [16]:
from time import sleep
from random import randint

In [19]:
pages = []

for i in iterations:
    start_at= str(i)
    url = "https://playback.fm/charts/top-100-songs/"+ start_at +""
    print(url)
    response = requests.get(url)
    print("Status code: " + str(response.status_code))

    pages.append(response)

    wait_time = randint(1,4)
    print("I will sleep for " + str(wait_time) + " second/s.")
    sleep(wait_time)

https://playback.fm/charts/top-100-songs/2000
Status code: 200
I will sleep for 4 second/s.
https://playback.fm/charts/top-100-songs/2001
Status code: 200
I will sleep for 4 second/s.
https://playback.fm/charts/top-100-songs/2002
Status code: 200
I will sleep for 3 second/s.
https://playback.fm/charts/top-100-songs/2003
Status code: 200
I will sleep for 2 second/s.
https://playback.fm/charts/top-100-songs/2004
Status code: 200
I will sleep for 4 second/s.
https://playback.fm/charts/top-100-songs/2005
Status code: 200
I will sleep for 2 second/s.
https://playback.fm/charts/top-100-songs/2006
Status code: 200
I will sleep for 4 second/s.
https://playback.fm/charts/top-100-songs/2007
Status code: 200
I will sleep for 4 second/s.
https://playback.fm/charts/top-100-songs/2008
Status code: 200
I will sleep for 4 second/s.
https://playback.fm/charts/top-100-songs/2009
Status code: 200
I will sleep for 3 second/s.

In [2]:
print(BeautifulSoup(pages[0].content, "html.parser").prettify())

# Parsing the first page

In [21]:
soup = BeautifulSoup(pages[0].content, "html.parser")

In [3]:
##myTable > tbody > tr:nth-child(1) > td:nth-child(2) > a
soup.select("td:nth-child(2)")

In [4]:
soup.select('a.artist')

In [79]:
print(soup.select("a.artist")[0].get_text())

Madonna

In [5]:
print(soup.select("td.mobile-hide"))

In [6]:
#myTable > tbody > tr:nth-child(1) > td.mobile-hide > a > span.song
soup.select("span.song")

In [26]:
print(soup.select("span.song")[0].get_text())

Music

In [67]:
pages_parsed = []
song = []
artist = []

for i in range(len(pages)):
    pages_parsed.append(BeautifulSoup(pages[i].content, "html.parser"))
    song_html = pages_parsed[i].select("td.mobile-hide")
    for j in range(len(song_html)):
        song.append(song_html[j].select("span.song")[0].get_text())


print(len(song)) 
print(len(artist))

1000
0

In [84]:
pages_parsed2 = []

for i in range(len(pages)):
    pages_parsed2.append(BeautifulSoup(pages[i].content, "html.parser"))
    artist_html = pages_parsed[i].select("td:nth-child(2)")
    for j in range(len(artist_html)):
        artist.append(artist_html[j].select("a.artist")[0].get_text())

In [85]:
print(len(song)) 
print(len(artist))

1000
1000

## Creating a dataframe

In [86]:
top1000_2000s = pd.DataFrame({"song_title":song,
                       "artist":artist,
                      })

In [87]:
top1000_2000s.head()

                song_title              artist
0                    Music         \nMadonna\n
1            Beautiful Day              \nU2\n
2            Bye, Bye, Bye          \nN Sync\n
3                     Stan          \nEminem\n
4  Oops!... I Did it Again  \nBritney Spears\n

In [89]:
top1000_2000s['artist'] = top1000_2000s['artist'].str.replace('\n','')

In [91]:
top1000_2000s

                  song_title                  artist
0                      Music                 Madonna
1              Beautiful Day                      U2
2              Bye, Bye, Bye                  N Sync
3                       Stan                  Eminem
4    Oops!... I Did it Again          Britney Spears
..                       ...                     ...
995                 Not Fair              Lily Allen
996        Dog Days Are Over  Florence + The Machine
997     The Boy Does Nothing            Alesha Dixon
998          Falling For You          Colbie Caillat
999     Don't Stop Believin'               Glee Cast

[1000 rows x 2 columns]